    body {
        margin: 0;
        overflow: hidden;
        font-family: Arial, sans-serif;
        background: #000;
    }

    .slide {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        color: white;
        flex-shrink: 0;
    }
    .slides-wrapper {
    display: flex;
    width: 1000%;
    height: 100vh;
    transition: transform 1s ease-in-out;
    overflow: hidden;
    }
    .bg-img {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    }
    .bg-img::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.70);
        z-index: 1;
    }
    .slide-content {
        position: relative;
        z-index: 5;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .slide-content, h1, p, button, div[style] {
    position: relative;
    z-index: 2;
    }
    .text-box {
        width: 45%;
        font-size: 22px;
    }
    .img-box img {
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 1s ease-out;
    }
    .img-box img:hover {
    transform: scale(1.3);
    }
    #nextBtn {
        position: fixed;
        bottom: 30px;
        right: 30px;
        padding: 15px 20px;
        background: #0055ff;
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        transition: transform 1s;
    }
    #nextBtn:hover { background: #003bb3; transform: scale(1.2); }
    #startBtn {
        padding: 15px 25px;
        background: darkgoldenrod;
        color: black;
        border: none;
        font-size: 22px;
        border-radius: 12px;
        cursor: pointer;
        font-weight: bold;
        transition: transform 1s;
    }
        #startBtn:hover{
        background: yellow; transform: scale(1.2); 
    }